<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create User</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <header>
        <h1>Create User</h1>
    </header>
    <div class="container">
        <form th:action="@{/admin/users}" th:object="${user}" method="post">
            <label>Username: <input type="text" th:field="*{username}"/></label><br/>
            <label>Email: <input type="email" th:field="*{email}"/></label><br/>
            <button type="submit">Save</button>
        </form>
    </div>
</body>
</html>

